
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    text-align: center;
    padding-top: 40px;
}

canvas {
    background-color: white;
    border: solid 1px black;
    image-rendering: pixelated;
}

#controls {
    float: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    width: calc(50% - 20px);
}

#controls ul {
    padding-left: 20px;
}

#cpu {
    float: right;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 13px;
    width: calc(50% - 20px);
}

#cpu ul {
    padding-left: 20px;
}

.red {
    color: rgb(189, 0, 0);
}

#serial > span {
    font-family: monospace;
    color: lime;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    background-color: black;
    padding: 0 8px;
    border-radius: 20px;
}

#options {
    position: absolute;
    left: 20px;
    top: 40px;
    text-align: left;
}

#palette {
    position: absolute;
    right: 20px;
    top: 40px;
    text-align: left;
    width: 142px;
    font-size: 12px;
}

#scale {
    position: absolute;
    left: 20px;
    top: 90px;
    text-align: left;
}

canvas.scale-1x {
    width: 160px;
    height: 144px;
}

canvas.scale-2x {
    width: 320px;
    height: 288px;
}

canvas.scale-3x {
    width: 480px;
    height: 432px;
}

canvas.scale-4x {
    width: 640px;
    height: 576px;
}